<!-- 

<nav class="navbar navbar-expand-sm bg-dark navbar-dark" >
<i class="bi bi-house-fill"></i><a class="navbar-brand" routerLink="/">Home</a>

  <a class="nav-link" routerLink="/login"  style="position: absolute;right: 4px;">Login</a>
  <a class="nav-link" routerLink="/signup" style="position: absolute;right: 54px;">SingnUp</a>
  
</nav> -->
 <header>
<div class="m-4">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
           
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                   
                    
                </ul>
                <!-- <ul class="nav navbar-nav ms-auto">
                 
                      <a routerLink="/signup"  data-bs-toggle="dropdown" style="position: absolute; right: 9%; margin-top: -10px;">SIGNUP</a>
                      
              </ul> -->
                <ul class="nav navbar-nav ms-auto">
                  
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">LOGIN</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a routerLink="/studentlogin" class="dropdown-item">Student</a>
                            <a routerLink="/adminlogin" class="dropdown-item">Admin</a>
                            <a routerLink="/facultylogin" class="dropdown-item">Faculty</a>
                            <!-- <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Logout</a> -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>    
  </div>
</header>
<body>

</body>
