<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline" style="color:black">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dealer</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Add Dealer</span>  </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Show Dealers</span>  </a>
                            </li>
                            <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Update Dealers</span> </a>
                          </li>
                        </ul>
                    </li>
                    <li>
                      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Shop</span> </a>
                      <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Add Shop</span>  </a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Show Shops</span>  </a>
                          </li>
                          <li>
                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Update Shops</span> </a>
                        </li>
                      </ul>
                  </li> -->
                    <!-- <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                    </li> -->
  
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Student</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a routerLink="/addstudent" class="nav-link px-0"> <span class="d-none d-sm-inline">Add Student</span> </a>
                            </li>
                            <li>
                                <a routerLink="/viewstudent" class="nav-link px-0"> <span class="d-none d-sm-inline">Show Student</span> </a>
                            </li>
                            <li>
                              <a routerLink="/editstudent" class="nav-link px-0"> <span class="d-none d-sm-inline">Update Students</span> </a>
                          </li>
                        </ul>

                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Faculty</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a routerLink="/addfaculty" class="nav-link px-0"> <span class="d-none d-sm-inline">Add Faculty</span> </a>
                            </li>
                            <li>
                                <a routerLink="/viewfaculty" class="nav-link px-0"> <span class="d-none d-sm-inline">Show Faculty</span> </a>
                            </li>
                            <li>
                                <a routerLink="/editfaculty" class="nav-link px-0"> <span class="d-none d-sm-inline">Update Faculty</span> </a>
                            </li>
                            <!-- <li>
                                <a routerLink="/assigndealer" class="nav-link px-0"> <span class="d-none d-sm-inline">AssignDealer To Shop</span> </a>
                            </li>
                            <li>
                              <a routerLink="/dealertoshop" class="nav-link px-0"> <span class="d-none d-sm-inline">Show Assign Details</span> </a>
                          </li> -->
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/adminlogin" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Log Out</span> </a>
                    </li>
                </ul>
                <hr>
                <!-- <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div> -->
        </div>
        <!-- <div class="col py-3">
            <img src="https://pbs.twimg.com/media/EXmBMo0X0AAqrRq.jpg" alt="">
        </div> -->
        <div style="margin-left: 250px; margin-top: -700px;">
          <img src="https://images.unsplash.com/photo-1562774053-701939374585?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y29sbGVnZXxlbnwwfHwwfHw%3D&w=1000&q=80" alt="">
        </div>
    </div>
  </div>